.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio_item {
  background: var(--color-bg-variant);
  box-sizing: border-box;
  padding: 0.6rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio_item_image {
  margin: 0 auto;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio_item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio_item_cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.3rem;
}

/*=============== media query for (Medium Devices)================= */
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}
/*=============== media query for (Small Devices)================= */
@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
