footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}
.parmalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
}
.footer-social a {
  color: var(--color-white);
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.footer-copy-right {
  color: var(--color-bg);
}

/*=============== media query for (Small Devices)================= */
@media screen and (max-width: 600px) {
  .parmalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
}
